
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(135deg, #0E1E7C, #13CBD4, #25A82A);
  background-attachment: fixed;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  width: 100%;
  color: white;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.navbar {
  grid-column: 1/11;
  padding: 20px 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

#logo {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Georgia', serif;
  color: rgb(13, 119, 171);
}


.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}

.navbar li {
  padding-inline: 20px;
}

.navbar a {
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: whitesmoke;
}

.navbar a:hover {
  color: rgba(31, 240, 202, 0.912);
}


#menu {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.image-section {
  grid-column: 1/5;
  text-align: center;
  padding: 4rem 0 0 0;
}

.image-section img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 2s ease, filter 0.6s ease;
  filter: drop-shadow(0 0 25px #17cdc7);
}

.text-section:hover {
  color: hwb(0 14% 36%); 
}
.image-section img:hover {
  transform: rotate(1turn);
  filter: drop-shadow(0 0 25px #30ed22);
}


.text-section {
  grid-column: 5/11;
  display: grid;
  place-content: center;
  color: rgb(231, 243, 9);
  padding: 20px;
}

.text-section ul {
  list-style: none;
  flex-direction: column;
}

.text-section li {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: justify;
}


.footer {
  grid-column: 1/11;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 1rem;
}

@media screen and (max-width: 1000px) {
  .image-section {
    grid-column: 1/11;
    padding-top: 2rem;
  }

  .text-section {
    grid-column: 1/11;
    padding-top: 1rem;
    text-align: center;
  }

  .text-section li {
    text-align: center;
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 800px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: black;
    border-top: 2px solid #007fff;
    text-align: center;
    padding: 20px 0;
    animation: slideDown 0.4s ease forwards;
  }

  .navbar ul.show {
    display: flex;
  }

  #menu {
    display: block;
  }

  .navbar li {
    padding: 15px 0;
  }

  .image-section img {
    width: 200px;
    height: 200px;
  }

  .text-section li {
    font-size: 1.1rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 500px) {
  #logo {
    font-size: 1.5rem;
  }

  .text-section li {
    font-size: 1rem;
  }

  .image-section img {
    width: 150px;
    height: 150px;
  }
}
