* {
    margin: 0;
    padding: 0;
  }
  
  body {
  background-color: #0008ff;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  
  
  .navbar {
    grid-column: 1/11;
    padding: 20px 40px;
    background-color: black; 
    color: rgb(31, 23, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar #logo {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Georgia', serif;
    color:white;
  }
  
  
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  .navbar li {
    padding-inline: 20px;
  }
  
  .navbar a {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
  }
  
  .navbar a:hover {
    filter: saturate(90deg) ;
    color: rgba(31, 195, 240, 0.912);
  }
  
  
  .image-section {
    grid-column: 1/5;
    text-align: center;
    padding: 4rem 0 0 0;
  }
  
  .image-section img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 2s ease, filter 0.6s ease;
    filter: drop-shadow (0 0 25px #17cdc7);
  }
  
  .image-section img:hover {
    transform:rotate(1turn);
     filter: drop-shadow(0 0 25px #30ed22); 
  }
  
  
  .text-section {
    grid-column: 5/11;
    display: grid;
    place-content: center;
    color: rgb(231, 243, 9);
  }
  
  .text-section ul {
    list-style: none;
    flex-direction: column;
  }
  
  .text-section li:nth-child(1) {
    font-family: 'Georgia', serif;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .text-section li:nth-child(2) {
    font-family: sans-serif;
    font-size: 2.5rem;
  }
  
  .text-section p {
    margin-top: 80px;
    font-style: italic;
    font-size: 5.0rem;
    color: rgb(231, 213, 14);
  }
  .text-section :hover {
    color: hwb(199 4% 11%);
  }
  
  * Footer */
  .footer {
    grid-column: 1/11;
    height: 5vh;
  }
  
  
  @media screen and (max-width: 1000px) {
  body {
    background-color: #0012ff; 
  }
    .navbar {
      background-color: #010101;
    }
  
    .navbar ul li a {
      font-size: 1.1rem;
    }
  
    .navbar #logo {
      font-size: 1.8rem;
    }
  
    .image-section {
      grid-column: 1/11;
      padding-top: 10px;
    }
  
    .text-section {
      grid-column: 1/11;
      padding-top: 1rem;
      text-align: center;
    }
  
    .text-section li:nth-child(1) {
      font-size: 2.5rem;
    }
  
    .text-section li:nth-child(2) {
      font-size: 1.2rem;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    body {
    background-color: #0012ff ; 
  }
   .navbar {
      background-color: #010101;
    }
    .navbar ul {
      display: none;
    }
  
    .navbar #logo {
      font-size: 30px;
      margin-left: 20px;
    }
  
    .navbar #menu {
      float: right;
    }
  
    .image-section {
      grid-column: 1/11;
      padding-top: 10px;
    }
  
    .image-section img {
      width: 180px;
      height: 180px;
    }
  
    .text-section {
      grid-column: 1/11;
      padding-top: 2rem;
      text-align: center;
    }
  
    .text-section li:nth-child(1) {
      font-size: 3rem;
    }
  
    .text-section li:nth-child(2) {
      font-size: 2rem;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    body {
    background-color: #0012ff ; 
  }
  .navbar {
      background-color: #010101;
    }
    .navbar ul {
      display: none;
    }
  
    .navbar #logo {
      font-size: 30px;
      margin-left: 20px;
    }
  
    .navbar #menu {
      float: right;
    }
  
    .image-section {
      grid-column: 1/11;
    }
  
    .text-section {
      grid-column: 1/11;
      text-align: center;
    }
  
    .text-section li:nth-child(1) {
      font-size: 3rem;
    }
  
    .text-section li:nth-child(2) {
      font-size: 2rem;
    }
  }
  
  
  @media screen and (max-width: 500px) {
    body {
    background-color: #0012ff ; 
  }
  .navbar {
      background-color: #010101;
    }
    .navbar ul {
      display: none;
    }
  
    .navbar #logo {
      font-size: 30px;
      margin-left: 20px;
    }
  
    .navbar #menu {
      float: right;
    }
  
    .text-section li:nth-child(1) {
      font-size: 2rem;
    }
  
    .text-section li:nth-child(2) {
      font-size: 2rem;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    body {
    background-color: #0012ff ; 
  }
  .navbar {
      background-color: #010101;
    }
    .navbar ul {
      display: none;
    }
  
    .navbar #logo {
      font-size: 15px;
      margin-left: 20px;
    }
  
    .navbar #menu {
      float: right;
    }
  
    .image-section {
      grid-column: 1/11;
    }
  
    .text-section {
      grid-column: 1/11;
      text-align: center;
    }
  
    .text-section li:nth-child(1) {
      font-size: 1.0;
    }
  
    .text-section li:nth-child(2) {
      font-size: 1.5rem;
    }
  }
  
  